<%= simple_form_for(jewel) do |f| %>
  <div class="form-inputs">
    <%= f.input :title, label: false, placeholder: 'Title', input_html: {class:'jewel-input'} %>
    <%= f.input :description, label: false, placeholder: 'Description', input_html: {class:'jewel-input'} %>
    <%= f.input :price, as: :numeric, label: false, placeholder: 'Price?', input_html: {class:'jewel-input'} %>
    <%= f.input :photos, as: :file, input_html: { multiple: true }, label: false, input_html: {class:'jewel-input'} %>
  </div>
  <div class="form-actions d-flex justify-content-center mt-5">
    <%= f.button :submit, class:'jewel-button' %>
  </div>

<% end %>
