<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.45),rgba(0,0,0,0.45)), url('<%= asset_url('banner1.jpg') %>');">
  <div class="container">
    <h1>JewelShare</h1>
    <h2>Shine like never before</h2>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <%= form_tag root_path, method: :get, class: "m-4 col-6" do %>
      <div class="input-group custom-search">
      <%= text_field_tag :query,
        params[:query],
        class: "form-control rounded-pill",
        placeholder: "Search jewellery"
      %>
      <%= submit_tag "Search", class: "rounded-pill custom-btn" %>
      <i class="fa fa-search pt-5"></i>
      </div>
    <% end %>
  </div>

  <div class="row justify-content-center">
    <% @jewels.each do |jewel| %>
      <div class="card-product col-8 col-md-4 col-lg-3 m-3 px-4 rounded" style="background-image: url('<%= asset_url('quater-circle.png') %>');">
          <%= cl_image_tag jewel.photos.first.key %>
        <div class="card-product-infos">
          <h2><%= jewel.title %></h2>
          <p>£<%= jewel.price %></p>
        </div>
        <%= link_to ">", jewel, class: "btn rounded-pill bottomright" %>
      </div>
    <% end %>
  </div>
</div>
