<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.45),rgba(0,0,0,0.45)), url('<%= asset_url('banner1.jpg') %>');">
  <div class="container">
    <h1>JewelShare</h1>
    <h2>Shine bright like a diamond</h2>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <%= form_tag root_path, method: :get, class: "m-4 col-6" do %>
        <div class="input-group custom-search">
        <%= text_field_tag :query,
          params[:query],
          class: "form-control rounded-pill custom-input",
          placeholder: "Search jewellery"
        %>
        <%= submit_tag "Search", class: "rounded-pill custom-btn" %>
        <i class="fa fa-search pt-5 text-light"></i>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container text-center">
  <% if params[:query].present? %>
    <h2 class="my-4">Listings matching <%= "'#{params[:query]}'" %></h2>
  <% else %>
    <h2 class="my-4">All Listings</h2>
  <% end %>
  <div class="row justify-content-center mb-4">
    <% @jewels.each do |jewel| %>
      <%= link_to jewel, class: "card-link col-8 col-md-4 col-lg-3 nopadding m-3" do %>
        <div class="card-product  rounded" style="background-image: url('<%= asset_url('quater-circle.png') %>');">
            <%= cl_image_tag jewel.photos.first.key %>
          <div class="card-product-infos">
            <h2><%= jewel.title %></h2>
            <p><%= jewel.description[0, 40] %> ...</p>
            <h2>£<%= jewel.price %></h2>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
