<div class="upper-circle" style="background-image: url('<%= asset_url('upper-circle.png') %>');">
  <div class="container container-show">
    <div class="row">
      <div class="col-12">
        <div>
          <p><%= link_to "< Continue Shopping", root_path, class: "styling-for-links" %></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 p-4 d-flex justify-content-center">
        <div class="d-flex align-items-center w-80">
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <% @jewel.photos.each_with_index do |photo, index| %>
                <div class="carousel-item <%= "active" if index == 0 %>">
                  <%= cl_image_tag photo.key, height: 300, width: 300, over_flow: :hidden, object_fit: :cover, alt: "Jewellery Photo", class: "d-block" %>
                </div>
              <% end %>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 p-4">
        <div class="mx-4">
          <%= simple_form_for [@jewel, @booking] do |f| %>
            <%= f.input :start_date, as: :date, html5: true%>
            <%= f.input :end_date, as: :date, html5: true %>
            <div class="d-flex justify-content-center mt-4.5 py-3">
              <%= f.submit "Book Jewellery", class: "btn btn-dark-green" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row d-flex align-items-center my-2">
      <div class="col-12 col-md-6">
        <div>
          <h1><%= @jewel.title %></h1>
          <p><%= @jewel.description %></p>
          <p><strong><%= "£#{number_with_precision(@jewel.price, precision:2)}" %></strong></p>
        </div>
      </div>
      <div class="col-12 col-md-6 d-flex justify-content-end">
        <div class="text-end">
          <div>
            <% if @jewel.user.profile_pic.attached? %>
                <p><%= "#{@jewel.user.first_name} #{@jewel.user.last_name}  " %><%= cl_image_tag @jewel.user.profile_pic.key, gravity: "faces", crop: "fill", class: "avatar" %>
            <% else %></p>
                <p><%= "#{@jewel.user.first_name} #{@jewel.user.last_name}  " %><%= image_tag "user.png", class: "avatar" %>
            <% end %></p>
          </div>
          <p><%= link_to "Edit Jewellery Listing", edit_jewel_path(@jewel.id), class: "styling-for-links" %></p>
          <% if user_signed_in? %>
            <% if @jewel.user == current_user %>
              <p>
                <%= link_to "Delete Jewellery Listing",
                  jewel_path(@jewel.id),
                  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "styling-for-links" %>
              </p>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row my-2">
      <div class="col-12">
        <div style="width: 100%; height: 300px; border-radius:20px;"
            data-controller="map"
            data-map-markers-value="<%= @markers.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
    <div class="row my-4">
      <div class="col-12 col-md-6 my-2">
        <h3>Reviews</h3>
        <% @jewel.reviews.each do |review| %>
          <div class="py-3">
            <div class="d-flex justify-content-between my-2">
              <div><strong><%= review.title %></strong></div>
              <div class="me-2"><%= review.rating %> stars</div>
            </div>
            <div>
              <p><%= review.content %></p>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-12 col-md-6 my-2 p-4">
        <div class="mx-4">
          <%= render 'jewels/form_review', jewel: @jewel, review: @review %>
        </div>
      </div>
    </div>
  </div>
</div>
